<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <% @sleds.each do |sled| %>
      <div class='dogs'> <%= sled.name %> </div>
      <% end %>
  </body>
</html>
